{% extends 'base.html.twig' %}
{% block title %}2ème page{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 mt-4">
            <h1>Page 2ème</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-5">
            <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}