# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\80010-02-05\CDA\API Fil Rouge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
